spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/cloud_storage
    username: user
    password: password
  data:
    redis:
      host: redis
      port: 6379

storage:
  minio:
    endpoint: http://minio:9000
    access-key: minioadmin
    secret-key: minioadmin